.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

.swiftpm
target
Cargo.lock

generated
Sources/{{project-name | pascal_case}}Rust/
